<!DOCTYPE html>
<html>
    <title>lab1</title>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">
        </script>
        <script>
            var app=angular.module("myapp",[]);
            app.controller("myCntrl",function($scope){
                $scope.firstName="rohit"
                $scope.lastName="sharma"
            });
        </script>
    </head>
    <body ng-app="myapp">
        <h1>displaying full name</h1>
        <div ng-controller="myCntrl">
            enter first name<input type="text" ng-model="firstName">
            enter second name<input type="text" ng-model="secondName">
            displaying full name using regularExpression:{{firstName+" "+secondName}}
            displaying full name using --ng-bind:
            <span ng-bind="firstname"></span>
            <span ng-bind="secondName"></span>
                </div>
    </body>
</html>